*{
    box-sizing: border-box;
}
html{
margin: 0;
padding: 0;
}




@media only screen and (max-width: 768px) {
    .textdata {
      text-align: center;
      position: absolute;
      color: white;
      font-family: -webkit-body;
      font-size: 180%;
      top: 55%;
      width: 100%;
      letter-spacing: 7px;
      text-shadow: 0 0 10px #000;
    }
  }
@media only screen and (max-width: 768px) {
    .textdata {
      text-align: center;
      position: absolute;
      color: white;
      font-family: -webkit-body;
      font-size: 180%;
      top: 55%;
      width: 100%;
      letter-spacing: 7px;
      text-shadow: 0 0 10px #000;
    }
  }