*{
    box-sizing: border-box;
}
html{
margin: 0;
padding: 0;
}
.box{
  background-color: lightpink;
}
.name{
  background-color: black;
  color: white;
  float: right;
}
.1st,.2nd,.3rd {
  width: 100/3%;
}


@media only screen and (max-width: 768px) {
    .1st,.2nd {
      width: 50%;
    }
    .3rd{
      width: 100%;
    }
  }
@media only screen and (max-width: 768px) {
  .1st,.2nd,.3rd {
    width: 100%;
  }
  }